VKPlugin/obj/x64/Release/VKPlugin.dll
VKPlugin/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
VKPlugin/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
VKPlugin/obj/x64/Release/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x64/Release/PluginVK.csproj.GenerateResource.Cache
VKPlugin/obj/x64/Release/PluginVK.csprojResolveAssemblyReference.cache
VKPlugin/obj/x64/Release/PluginVK.OAuth.resources
VKPlugin/obj/x86/Release/VKPlugin.dll
VKPlugin/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
VKPlugin/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
VKPlugin/obj/x86/Release/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x86/Release/PluginVK.csproj.GenerateResource.Cache
VKPlugin/obj/x86/Release/PluginVK.csprojResolveAssemblyReference.cache
VKPlugin/obj/x86/Release/PluginVK.OAuth.resources
VKPlugin/PluginVK.v11.suo
VKPlugin/PluginVK.sln
VKPlugin/Plugin.VK.Form/app.config
VKPlugin/Plugin.VK.Form/ExceptionCatch.cs
VKPlugin/Plugin.VK.Form/ExceptionDialog.cs
VKPlugin/Plugin.VK.Form/ExceptionDialog.designer.cs
VKPlugin/Plugin.VK.Form/ExceptionDialog.resx
VKPlugin/Plugin.VK.Form/GitHubDialog.cs
VKPlugin/Plugin.VK.Form/GitHubDialog.designer.cs
VKPlugin/Plugin.VK.Form/GitHubDialog.resx
VKPlugin/Plugin.VK.Form/OAuth.cs
VKPlugin/Plugin.VK.Form/OAuth.Designer.cs
VKPlugin/Plugin.VK.Form/OAuth.resx
VKPlugin/Plugin.VK.Form/obj/Debug/build.force
VKPlugin/Plugin.VK.Form/obj/Debug/Plugin.VK.Form.Properties.Resources.resources
VKPlugin/Plugin.VK.Form/obj/Debug/Plugin.VK.Forms.csproj.FileListAbsolute.txt
VKPlugin/Plugin.VK.Form/obj/Debug/PluginVK.Forms.OAuth.resources
VKPlugin/Plugin.VK.Form/obj/Debug/VKPlugin.Forms.ExceptionDialog.resources
VKPlugin/Plugin.VK.Form/obj/Debug/VKPlugin.Forms.GitHubDialog.resources
VKPlugin/Plugin.VK.Form/packages.config
VKPlugin/Plugin.VK.Form/Plugin.VK.Forms.csproj
VKPlugin/Plugin.VK.Form/Properties/AssemblyInfo.cs
VKPlugin/Plugin.VK.Form/Properties/AssemblyInfo.log4net.cs
VKPlugin/Plugin.VK.Form/Properties/Resources.Designer.cs
VKPlugin/Plugin.VK.Form/Properties/Resources.resx
VKPlugin/Plugin.VK.Form/Properties/Settings.Designer.cs
VKPlugin/Plugin.VK.Form/Properties/Settings.settings
PluginVK.Forms/App.config
PluginVK.Forms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PluginVK.Forms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PluginVK.Forms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PluginVK.Forms/PluginVK.Forms.csproj
VKPlugin/obj/x86/Debug/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x86/Debug/PluginVK.Forms.OAuth.resources
VKPlugin/obj/x86/Debug/VKPlugin.Forms.ExceptionDialog.resources
VKPlugin/obj/x86/Debug/VKPlugin.Forms.GitHubDialog.resources
VKPlugin/PluginVK.Methods/Crypto.cs
VKPlugin/PluginVK.Methods/Friends.cs
VKPlugin/PluginVK.Methods/Messages.cs
VKPlugin/PluginVK.Methods/obj/Debug/PluginVK.Methods.csproj.FileListAbsolute.txt
VKPlugin/PluginVK.Methods/PluginVK.Methods.csproj
VKPlugin/Rainmeter/obj/Debug/build.force
VKPlugin/obj/x86/Release/PluginVK.Forms.OAuth.resources
VKPlugin/obj/x86/Release/VKPlugin.Forms.ExceptionDialog.resources
VKPlugin/obj/x86/Release/VKPlugin.Forms.GitHubDialog.resources
VKPlugin/Rainmeter/obj/Release/build.force
TestBench/x64/Release/log4net.xml
VKPlugin/obj/x64/Debug/build.force
VKPlugin/obj/x86/Debug/build.force
VKPlugin/obj/x86/Release/build.force
VKPlugin/obj/x64/Release/PluginVK.OAuth.en.resources
VKPlugin/obj/x64/Release/PluginVK.OAuth.ru.resources
VKPlugin/obj/x86/Release/PluginVK.OAuth.en.resources
VKPlugin/obj/x86/Release/PluginVK.OAuth.ru.resources
