VKPlugin/obj/x64/Release/VKPlugin.dll
VKPlugin/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
VKPlugin/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
VKPlugin/obj/x64/Release/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x64/Release/PluginVK.csproj.GenerateResource.Cache
VKPlugin/obj/x64/Release/PluginVK.csprojResolveAssemblyReference.cache
VKPlugin/obj/x64/Release/PluginVK.OAuth.resources
VKPlugin/obj/x86/Release/VKPlugin.dll
VKPlugin/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
VKPlugin/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
VKPlugin/obj/x86/Release/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x86/Release/PluginVK.csproj.GenerateResource.Cache
VKPlugin/obj/x86/Release/PluginVK.csprojResolveAssemblyReference.cache
VKPlugin/obj/x86/Release/PluginVK.OAuth.resources
VKPlugin/PluginVK.v11.suo
VKPlugin/PluginVK.sln
