VKPlugin/obj/x64/Release/VKPlugin.dll
VKPlugin/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
VKPlugin/obj/x64/Release/PluginVK.csproj.FileListAbsolute.txt
VKPlugin/obj/x64/Release/PluginVK.csproj.GenerateResource.Cache
VKPlugin/obj/x64/Release/PluginVK.csprojResolveAssemblyReference.cache
VKPlugin/obj/x64/Release/PluginVK.OAuth.resources
VKPlugin/obj/x64/Release/VKPlugin.dll
